#bgContain {
  position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #0bc2cf;
    overflow: hidden;
    transition-duration: 0.5s;
} 

#bg {
  position: absolute;
    width: 200%;
    height: 200%;
    top: 50%;
    left: 50%;
    background-size: 550px;
    background-position: -100px -100px;
    opacity: .1;
    transform: translate(-50%,-50%) rotate(15deg);
    z-index: -1;
    background-image: url('Images/Backgrounds/blook_bg.png');
}


/*Tower Defense*/

#SMBG {
  position: absolute;
  width: 200%;
  height: 200%;
  background-size: 550px;
  background-position: -100px -100px;
  z-index: -1; 
  background-image: url("Images/Backgrounds/sm_bg.png");
}

#LDBG {
  position: absolute;
  width: 200%;
  height: 200%;
  background-size: 550px;
  background-position: -100px -100px;
  z-index: -1; 
  background-image: url("Images/Backgrounds/ld_bg.png");
}

#AMBG {
  position: absolute;
  width: 200%;
  height: 200%;
  background-size: 550px;
  background-position: -100px -100px;
  z-index: -1; 
  background-image: url("Images/Backgrounds/am_bg.png");
}


/*Cafe BG*/

#bgC {
  position: absolute;
  width: 200%;
  height: 200%;
  background-size: 550px;
  background-position: -100px -100px;
  z-index: -1; 
  background-image: url("Images/Backgrounds/cafe_bg.png");
  opacity: 0.9;
}


/*MB BG*/

#snowBG {
  position: absolute;
  width: 200%;
  height: 200%;
  background-size: 550px;
  background-position: -100px -100px;
  z-index: -1; 
  background-image: url("Images/Backgrounds/snow_bg.png");
}

#clockBG {
  position: absolute;
  width: 200%;
  height: 200%;
  background-size: 550px;
  background-position: -100px -100px;
  z-index: -1; 
  background-image: url("Images/Backgrounds/clock_bg.png");
}


/*Fishing BG*/

#bgWave {
  position: absolute;
  bottom: 0;
  height: 118px;
  width: calc(100% + 100px);
  z-index: 0; 
  background-image: url("Images/Backgrounds/fishing_bg.png");
  opacity: 0.9;
}
#bgF {
  position: absolute;
  width: 200%;
  height: 200%;
  z-index: -1;
  background: linear-gradient(180deg,#9be2fe 0,#67d1fb);
}