#bgContain {
  position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #0bc2cf;
    overflow: hidden;
    transition-duration: 0.5s;
}

#bg {
  position: absolute;
    width: 200%;
    height: 200%;
    top: 50%;
    left: 50%;
    background-size: 550px;
    background-position: -100px -100px;
    opacity: .1;
    transform: translate(-50%,-50%) rotate(15deg);
    z-index: -1;
    background-image: url('https://ac.blooket.com/dashboard/65a43218fd1cabe52bdf1cda34613e9e.png');
}
