body {
    background-color: #0bc2cf;
    overflow-x: hidden;
  }
#main {
    z-index: 2;
    transform: rotate(0deg);
  }
#mainHeader {
    font-family: Titan One;
    font-size: 60px;
    color: white;
    font-weight: 400;
    text-align: center;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.4);
}
  
  /*Boards Section*/
  
  .leftBoards {
    background-color: #40115f;
    float: left;
    width: 45%;
    padding-left: 10px;
    border-radius: 10px;
    z-index: 3;
    margin-bottom: 75px;
    display: flex;
    justify-content: center;
  }
  
  
  .rightBoards {
    background-color: #40115f;
    float: right;
    width: 45%;
    padding-left: 10px;
    border-radius: 10px;
    z-index: 3;
    margin-bottom: 75px;
    display: flex;
    justify-content: center;
  }


  .centerBoards {
    background-color: #40115f;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-left: 10px;
    border-radius: 10px;
    z-index: 3;
    display: flex;
    justify-content: center;
  }
  

  .tinyLeftBoards {
    background-color: #40115f;
    float: left;
    width: 30%;
    padding-left: 10px;
    border-radius: 10px;
    z-index: 3;
    margin-bottom: 75px;
    display: flex;
    justify-content: center;
  }


  .tinyRightBoards {
    background-color: #40115f;
    float: right;
    width: 30%;
    padding-left: 10px;
    border-radius: 10px;
    z-index: 3;
    margin-bottom: 75px;
    display: flex;
    justify-content: center;
  }



  /*LB Boards*/

  #mainBoard {
    background-color: #40115f;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-radius: 10px;
    z-index: 3;
    display: flex;
    justify-content: center;
  }
  
  #infoBoard {
    float: left;
    background-color: #40115f;
    width: 30%;
    border-radius: 10px;
    z-index: 3;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
  }
  
  #submissionBoard {
    background-color: #40115f;
    float: right;
    border-radius: 10px;
    z-index: 3;
    width: 35%;
    text-align: center;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
  }
  