body {
  background-color: #0bc2cf;
  overflow-y: scroll;
  overflow-x: hidden;
}
#main {
  z-index: 2;
  transform: rotate(0deg);
  overflow-y: scroll;
  overflow-x: hidden;
}
#mainHeader {
  font-family: Titan One;
  font-size: 60px;
  color: white;
  font-weight: 400;
  text-align: center;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.4);
}

/*Popular Leaderboards Section*/

#popBoards {
  background-color: #40115f;
  margin-left: auto;
  margin-right: auto;
  width: calc(270 * 3px);
  padding-left: 10px;
  border-radius: 10px;
  z-index: 3;
  display: flex;
  justify-content: center;
}

.popLinks {
  font-family: Nunito;
  font-size: 18px;
  text-decoration: none;
  color: white;
  z-index: 3;
  transition-duration: 0.2s;
  padding-bottom: 35px;
  padding-left: 10px;
}
.popLinks:hover {
  font-size: 23px;
}

.imgLink {
  transition-duration: 0.2s;
  cursor: pointer;
}

.imgLink:hover {
  transform: scale(1.1);
}
