body {
    background-color: #0bc2cf;
    overflow-x: hidden;
  }
#main {
    z-index: 2;
    transform: rotate(0deg);
  }
#mainHeader {
    font-family: Titan One;
    font-size: 60px;
    color: white;
    font-weight: 400;
    text-align: center;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.4);
}
  
  /*Boards Section*/

  .board {
    background-color: #40115f;
    padding-left: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    transition-duration: 0.5s;
    z-index: 3;
  }
  .board.left {
    float: left;
    width: auto;
    margin-bottom: 75px;
  }
  .board.right {
    float: right;
    width: calc(70% - 340px);
    margin-bottom: 75px;
  }
  .board.center {
    margin-left: auto;
    margin-right: auto;
    width: calc(270 * 3px);
  }

  .tinyLeftBoards {
    background-color: #40115f;
    float: left;
    width: 300px;
    padding-left: 10px;
    border-radius: 10px;
    z-index: 3;
    margin-bottom: 75px;
    display: flex;
    justify-content: center;
    transition-duration: 0.5s;
  }


  .tinyRightBoards {
    background-color: #40115f;
    float: right;
    width: 300px;
    padding-left: 10px;
    border-radius: 10px;
    z-index: 3;
    margin-bottom: 75px;
    display: flex;
    justify-content: center;
    transition-duration: 0.5s;
  }



  /*LB Boards*/

  #mainBoard {
    background-color: #40115f;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-radius: 10px;
    z-index: 3;
    display: flex;
    justify-content: center;
    transition-duration: 0.5s;
  }
  
  #infoBoard {
    float: left;
    background-color: #40115f;
    width: 30%;
    border-radius: 10px;
    z-index: 3;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    padding: 0px 5px;
    margin-left: 10px;
    transition-duration: 0.5s;
  }
  
  #submissionBoard {
    background-color: #40115f;
    float: right;
    border-radius: 10px;
    z-index: 3;
    width: 35%;
    text-align: center;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    padding: 0px 5px;
    margin-right: 10px;
    transition-duration: 0.5s;
  }
  

  /*Img Links*/

  .imgLink {
    transition-duration: 0.2s;
    cursor: pointer;
  }
  
  .imgLink:hover {
    transform: scale(1.1);
  }