

/*Popular Leaderboards Section*/

#popBoards {
  background-color: #40115f;
  margin-left: auto;
  margin-right: auto;
  width: calc(270 * 3px);
  padding-left: 10px;
  border-radius: 10px;
  z-index: 3;
  display: flex;
  justify-content: center;
}

.popLinks {
  font-family: Nunito;
  font-size: 18px;
  text-decoration: none;
  color: white;
  z-index: 3;
  transition-duration: 0.2s;
  padding-bottom: 35px;
  padding-left: 10px;
}
.popLinks:hover {
  font-size: 23px;
}


