#searchBar {
    background-color: #9a49aa;
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 5px;
    float: right;
}
#searchBar_Input_Bar {
    height: 50px;
    border-radius: 10px;
    border: none;
    font-family: Nunito;
}
#searchBar_Button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color: white;
    font-size: 30px;
}