.statsBox {
  background-color: #9a49aa;
  border-radius: 7px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 15px;
  box-shadow: inset 0 -6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.2s;
  cursor: pointer;
  justify-content: center;
}

.statsBox:hover {
  box-shadow: none;
  background-color: rgba(128, 60, 140, 1);
}

.statTitle {
  font-family: Titan One;
  color: white;
  font-size: calc(70% + 15px);
  margin: 6px;
  text-align: center;
  padding: 5px 10px 10px;
}

.statImg {
  width: 50px;
  height: 50px;
  transform: translateY(-50%) rotate(-15deg);
  position: absolute;
  top: 60%;
  left: -30px;
}


/*LB Classes*/
.statsBoxLB {
  background-color: #9a49aa;
  border-radius: 7px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 5px 5px 11px;
  margin: 5px;
  box-shadow: inset 0 -6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.5s;
}

.statTitleLB {
  font-family: Titan One;
  color: white;
  font-size: 20px;
}

.statImgLB {
  width: 75;
  top: 65%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

#mainBoard table {
  width: 95%;
}

.rainbow {
  font-size: 20px;
  display: inline-block;
  text-shadow: 2px 2px 4px #000000;
  -webkit-animation: rainbow 5s infinite;
}

@-webkit-keyframes rainbow {
  0% {
    color: orange;
  }

  5% {
    color: red
  }

  10% {
    color: purple;
  }

  15% {
    color: magenta;
  }

  20% {
    color: red;
  }

  25% {
    color: purple;
  }

  30% {
    color: CadetBlue;
  }

  35% {
    color: lightgreen;
  }

  40% {
    color: yellow;
  }

  45% {
    color: lightsalmon;
  }

  50% {
    color: coral;
  }

  55% {
    color:yellowgreen;
  }

  60% {
    color: green;
  }

  65% {
    color: aquamarine;
  }

  70% {
    color: cyan;
  }

  75% {
    color: purple;
  }

  80% {
    color: DeepPink;
  }

  85% {
    color: darkslateblue'
  }

  90% {
    color: DodgerBlue;
  }

  95% {
    color: yellow;
  }

  100% {
    color: orange;
  }
}