/*Navagation Bar*/
#navBar {
  margin-left: -10px;
  margin-top: -15px;
  width: 110%;
  height: 60px;
  background-color: #9a49aa;
  position: fixed;
  box-shadow: 0px 0px 0px 10px rgba(128, 60, 140, 1);
  z-index: 5;
}

.navLink {
  float: right;
  font-size: 18px;
  padding-right: 10px;
  margin-top: 15px;
  transition-duration: 0.2s;
  text-decoration: none;
  color: white;
  font-family: Nunito;
  font-weight: 600;
}

.navLink:hover {
  font-size: 23px;
}

/*Main Section*/

#bg {
  position: absolute;
  z-index: -1;
  height: 120%;
  width: 300%;
  background-size: 550px;
  background-image: url("https://ac.blooket.com/dashboard/65a43218fd1cabe52bdf1cda34613e9e.png");
  opacity: 0.1;
  transform: rotate(15deg);
  
}
body {
  background-color: #0bc2cf;
  overflow-x: hidden;
  overflow-y: visible;
}
#main {
  z-index: 2;
  transform: rotate(0deg);
  overflow-x: hidden;
}
#mainHeader {
  font-family: Titan One;
  font-size: 60px;
  color: white;
  font-weight: 400;
  text-align: center;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.4);
}

/*Popular Leaderboards Section*/

#popBoards {
  background-color: #40115f;
  float: right;
  width: 45%;
  padding-left: 10px;
  border-radius: 10px;
  z-index: 4;
  display: flex;
  justify-content: center;
}

.popLinks {
  font-family: Nunito;
  font-size: 18px;
  text-decoration: none;
  color: white;
  z-index: 4;
  transition-duration: 0.2s;
  padding-bottom: 35px;
  padding-left: 10px;
}
.popLinks:hover {
  font-size: 23px;
}

/*Yellow and Orange Bubbles*/

.YO_Container {
  background-color: #ef7426;
  border-radius: 7px;
  box-sizing: border-box;
  position: absolute;
  margin-top: -30px;
  box-shadow: 0 4px rgba(0, 0, 0, 0.2), inset 0 -4px rgba(0, 0, 0, 0.2);
  z-index: 4;
}

.YO_Text {
  background: linear-gradient(#fcd843, #fcd843 50%, #feb31a 50.01%, #feb31a);
  font-family: Titan One;
  padding: 0 15px;
  border-radius: 5px;
  color: white;
  align-items: center;
  font-size: 26px;
  text-shadow: -1px -1px 0 #646464, 1px -1px 0 #646464, -1px 1px 0 #646464,
    2px 2px 0 #646464;
  text-align: center;
  box-sizing: border-box;
  border-style: solid;
  border-width: 5px;
  border-color: #ef7426;
}

/*Info Section*/

#infoBoard {
  background-color: #40115f;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  border-radius: 10px;
  z-index: 4;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.RYO_Container {
  background-color: #ef7426;
  border-radius: 7px;
  box-sizing: border-box;
  position: absolute;
  margin-top: -30px;
  box-shadow: 0 4px rgba(0, 0, 0, 0.2), inset 0 -4px rgba(0, 0, 0, 0.2);
  z-index: 4;
}

.RYO_Text {
  background: linear-gradient(#fcd843, #fcd843 50%, #feb31a 50.01%, #feb31a);
  font-family: Titan One;
  padding: 0 15px;
  border-radius: 5px;
  color: white;
  align-items: center;
  font-size: 26px;
  text-shadow: -1px -1px 0 #646464, 1px -1px 0 #646464, -1px 1px 0 #646464,
    2px 2px 0 #646464;
  text-align: center;
  box-sizing: border-box;
  border-style: solid;
  border-width: 5px;
  border-color: #ef7426;
}

/*Event Section*/

#eventBoard {
  background-color: #40115f;
  float: left;
  width: 45%;
  border-radius: 10px;
  z-index: 4;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.EYO_Container {
  background-color: #ef7426;
  border-radius: 7px;
  box-sizing: border-box;
  position: absolute;
  margin-top: -30px;
  box-shadow: 0 4px rgba(0, 0, 0, 0.2), inset 0 -4px rgba(0, 0, 0, 0.2);
  z-index: 4;
}

.EYO_Text {
  background: linear-gradient(#fcd843, #fcd843 50%, #feb31a 50.01%, #feb31a);
  font-family: Titan One;
  padding: 0 15px;
  border-radius: 5px;
  color: white;
  align-items: center;
  font-size: 26px;
  text-shadow: -1px -1px 0 #646464, 1px -1px 0 #646464, -1px 1px 0 #646464,
    2px 2px 0 #646464;
  text-align: center;
  box-sizing: border-box;
  border-style: solid;
  border-width: 5px;
  border-color: #ef7426;
}

/*Stat Boxes*/
.statsBox {
  background-color: #9a49aa;
  border-radius: 7px;
  width: 250px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 5px 5px 11px;
  margin: 10px;
  box-shadow: inset 0 -6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.2s;
  cursor: pointer;
}
.statsBox:hover {
  box-shadow: none;
  background-color: rgba(128, 60, 140, 1);
}

.statTitle {
  font-family: Titan One;
  color: white;
  font-size: 28px;
}

.statImg {
  width: 50px;
  transform: translateY(-50%) rotate(-15deg);
  position: absolute;
  top: 65%;
  left: -20px;
}
