body {
  overflow-x: hidden;
  font-family: Nunito;
  font-size: 18px;
  margin: 0;
}
#main {
  flex-direction: column;
}
#mainHeader {
  font-size: 60px;
  color: white;
  font-weight: 400;
  text-align: center;
  margin-bottom: 75px;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.4);
}
#navBar {
  width: 100%;
  height: 60px;
  background-color: #9a49aa;
  box-shadow: 0px 0px 0px 10px rgba(128, 60, 140, 1);
  transition-duration: 0.5s;
  position: fixed;
  top: 0;
  justify-content: flex-end;
  align-items: center;
  z-index: 5;
}

.navLink {
  margin-right: 10px;
  transition-duration: 0.2s;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.navLink:hover {
  font-size: 23px;
}

#bgContain {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #0bc2cf;
  z-index: -1;
  overflow: hidden;
  transition-duration: 0.5s;
}

#bg {
  position: absolute;
  transform: translate(-50%, -50%) rotate(15deg);
  z-index: 0;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 150%;
  opacity: 0.1;
  background-image: url("https://i.ibb.co/7pgnc8y/blook-bg.png");
}

.row {
  justify-content: space-between;
  align-items: flex-start;
}
.row.center {
  align-items: center;
}

.board {
  position: relative;
  padding: 0 10px;
  margin: 0 5px 75px;
  width: calc(65% - 340px);
  min-width: 300px;
  min-height: 100px;
  background-color: #40115f;
  border-radius: 10px;
  justify-content: center;
  color: white;
  transition-duration: 0.5s;
}
.board.left {
  width: 600px;
}
.board.center {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.YO_Text {
  position: absolute;
  top: -40px;
  padding: 0 15px;
  background: linear-gradient(#fcd843, #fcd843 50%, #feb31a 50.01%, #feb31a);
  color: white;
  font-size: 1.5em;
  text-shadow: -1px -1px 0 #646464, 1px -1px 0 #646464, -1px 1px 0 #646464,
    2px 2px 0 #646464;
  text-align: center;
  border: solid 5px #ef7426;
  border-radius: 5px;
  z-index: 3;
  transition-duration: 0.5s;
}
.title {
  font-family: Titan One;
}
.sticky {
  position: sticky;
  z-index: 2;
}
.sticky.top {
  top: 0;
}
.sticky.left {
  left: 0;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}

.statsBox {
  background-color: #9a49aa;
  border-radius: 7px;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 15px;
  box-shadow: inset 0 -6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.2s;
  cursor: pointer;
  justify-content: center;
}

.statsBox:hover {
  box-shadow: none;
  background-color: rgba(128, 60, 140, 1);
}

.statTitle {
  color: white;
  font-size: 1.5em;
  margin: 6px;
  text-align: center;
  padding: 5px 10px 10px;
}

.statImg {
  width: 50px;
  height: 50px;
  transform: rotate(-15deg);
  position: absolute;
  left: -32px;
}
.statImg img {
  width: 50px;
  height: 50px;
}

/*LB Classes*/
.statsBoxLB {
  background-color: #9a49aa;
  border-radius: 7px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 5px 5px 11px;
  margin: 5px;
  box-shadow: inset 0 -6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.5s;
}

.statTitleLB {
  font-family: Titan One;
  color: white;
  font-size: 20px;
}

.statImgLB {
  width: 75;
  top: 65%;
  margin-right: auto;
  margin-left: auto;
}

#mainBoard table {
  width: 95%;
}

.rainbow {
  font-size: 20px;
  display: inline-block;
  text-shadow: 2px 2px 4px #000000;
  -webkit-animation: rainbow 5s infinite;
}

@-webkit-keyframes rainbow {
  0% {
    color: orange;
  }

  5% {
    color: red
  }

  10% {
    color: purple;
  }

  15% {
    color: magenta;
  }

  20% {
    color: red;
  }

  25% {
    color: purple;
  }

  30% {
    color: CadetBlue;
  }

  35% {
    color: lightgreen;
  }

  40% {
    color: yellow;
  }

  45% {
    color: lightsalmon;
  }

  50% {
    color: coral;
  }

  55% {
    color:yellowgreen;
  }

  60% {
    color: green;
  }

  65% {
    color: aquamarine;
  }

  70% {
    color: cyan;
  }

  75% {
    color: purple;
  }

  80% {
    color: DeepPink;
  }

  85% {
    color: darkslateblue'
  }

  90% {
    color: DodgerBlue;
  }

  95% {
    color: yellow;
  }

  100% {
    color: orange;
  }
}
.imgLink {
  width: 250px;
  cursor: pointer;
  transition-duration: 0.2s;
}
.imgLink:hover {
  transform: scale(1.1);
}

.settingsBox {
  flex-direction: column;
  align-items: center;
}

.settingsText {
  font-size: 20px;
}

h3.settingsText {
  color: white;
  font-size: 32px;
}

.IMG {
  border-radius: 50px;
  border: solid 4px white;
  width: 75px;
  height: 75px;
}

.selectorBox {
  width: 75px;
  height: 75px;
}

#lb_div {
  padding: 0;
  width: 100vw;
}

#lb_table {
  width: 100%;
  background-color: rgb(128, 60, 140);
  border-radius: 10px;
}

#lb_head td {
  background-color: #9a49aa;
}

.lb_title {
  color: white;
  font-size: 20px;
  white-space: nowrap;
}

@media only screen and (max-width: 1105px) {
  .YO_Text {
    font-size: 1.17em;
    top: -30px;
    border: solid 4px #ef7426;
  }
}
@media only screen and (max-width: 960px) {
  .board.left {
    width: 400px;
  }
}

@media only screen and (max-width: 770px) {
  #navBar {
    justify-content: center;
    height: 70px;
    padding: 5px;
  }
  .navLink {
    font-size: 20px;
  }
  #mainHeader {
    font-size: 12vw;
  }
  .board {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .board.left {
    width: 80%;
  }
  .board.center {
    width: 80%;
  }
  .YO_Text {
    font-size: 1.5em;
    top: -40px;
    border: solid 5px #ef7426;
  }
  #lb_div {
    width: 100vw;
  }
}