/*Main Section*/
body {
  background-color: #0bc2cf;
  overflow-x: hidden;
  overflow-y: visible;
}
#main {
  z-index: 2;
  transform: rotate(0deg);
  overflow-x: hidden;
}
#mainHeader {
  font-family: Titan One;
  font-size: 60px;
  color: white;
  font-weight: 400;
  text-align: center;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.4);
}

/*Popular Leaderboards Section*/

#popBoards {
  background-color: #40115f;
  float: right;
  width: 45%;
  padding-left: 10px;
  border-radius: 10px;
  z-index: 4;
  display: flex;
  justify-content: center;
}

.popLinks {
  font-family: Nunito;
  font-size: 18px;
  text-decoration: none;
  color: white;
  z-index: 4;
  transition-duration: 0.2s;
  padding-bottom: 35px;
  padding-left: 10px;
}
.popLinks:hover {
  font-size: 23px;
}

/*Info Section*/

#infoBoard {
  background-color: #40115f;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  border-radius: 10px;
  z-index: 4;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

/*Event Section*/

#eventBoard {
  background-color: #40115f;
  float: left;
  width: 45%;
  border-radius: 10px;
  z-index: 4;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

/*Info Section*/

#infoBoardTwo {
  background-color: #40115f;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  border-radius: 10px;
  z-index: 4;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}
