.valueInput {
  border-radius: 7px;
  height: 60%;
  font-size: 25px;
  width: 80%;
  border: solid 5px #ef7426;
  background: linear-gradient(#fcd843, #fcd843 50%, #feb31a 50.01%, #feb31a);
  text-align: center;
  color: white;
  font-family: Titan One;
  text-shadow: -1px -1px 0 #646464, 1px -1px 0 #646464, -1px 1px 0 #646464,
    2px 2px 0 #646464;
}

::placeholder {
  color: #cfcfcf;
}

.valueContainer {
  width: 250px;
  background-color: #9a49aa;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
   box-shadow: inset 0 -8px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}