body {
    overflow-x: hidden;
    background-color: #373841;
  }
  #main {
    z-index: 2;
    transform: rotate(0deg);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  #mainHeader {
    font-family: Titan One;
    font-size: 60px;
    color: white;
    font-weight: 400;
    text-align: center;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.4);
  }


  .box {
    background-color: #3d3e47;
    margin-left: auto;
    width: 70%;
    border-radius: 5px;
    margin-right: auto;
    padding: 15px;
  }
  .boxText {
    color: white;
    font-family: Merriweather Sans;
    font-size: 22px;
    font-weight: 600;
  }
  .boxTextGold {
    color: white;
    font-family: Merriweather Sans;
    font-size: 24px;
    font-weight: 200;
    float: right;
  }
  .boxImg {
    width: 40px;
    float: right;
  }

  #homeBTN {
    font-size: 32px;
    cursor: pointer;
    color: white;
    float: right;
    padding-right: 10px;
    margin-top: 15px;
  }