/*Navagation Bar*/
#navBar {
  margin-top: -2px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-color: transparent;
  position: fixed;
  z-index: 2;
  top: 0;
}

.navLink {
  /*Position*/
  margin-right: 12px;
  padding-top: 8px;
  padding-bottom: 5px;
  /*Looks*/
  background-color: #4a363a;
  font-size: 30px;
  color: #f8d474;
  border: 3px solid #988672;
  text-align: center;
  /*Transition*/
  transition-duration: 0.2s;
  cursor: pointer;
  width: 40px;
}
.navLink:hover {
  margin-bottom: -17px;
  padding-top: 14px;
  padding-bottom: 16px;
}

/*Main Section*/

body {
  overflow-x: hidden;
  background: url("https://gooseterv.github.io/pop/images/background-left.png")
      left repeat-y,
    url("https://gooseterv.github.io/pop/images/background-right.png") right
      repeat-y,
    #523b40;
  font-family: Pixellari;
}

#main {
  overflow-y: scroll;
  overflow-x: hidden;
}

#popLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box {
  background-color: #4a363a;
  border: 3.5px solid #988672;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.boxText {
  color: #f8d474;
  font-size: 23px;
  font-weight: bold;
  margin: 10px;
}

.boxImg {
  min-height: 50px;
  max-height: 50px;
  border: 3.5px solid #988672;
  margin: 5px 0px;
  min-width: 50px;
  max-width: 50px;
}

.boxTextGold {
  color: #f8d474;
  font-size: 23px;
  font-weight: bold;
  margin: 10px;
}
.goldIcon {
  width: 25px;
  height: 25px;
  position: relative;
  top: 5px;
  right: 7px;
}

.spacingBoxLeft {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 877px) {
  .box {
    width: 70%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #navBar {
    justify-content: center;
  }
  #popLogo {
    width: 90%;
  }
}
