/*Navagation Bar*/
#navBar {
  margin-left: -10px;
  margin-top: -15px;
  width: 110%;
  height: 60px;
  background-color: #9a49aa;
  position: fixed;
  box-shadow: 0px 0px 0px 10px rgba(128, 60, 140, 1);
  z-index: 5;
}

.navLink {
  float: right;
  font-size: 18px;
  padding-right: 10px;
  margin-top: 15px;
  transition-duration: 0.2s;
  text-decoration: none;
  color: white;
  font-family: Nunito;
  font-weight: 600;
}

.navLink:hover {
  font-size: 23px;
}

/*Main Section*/

#bg {
  position: absolute;
  height: 120%;
  width: 200%;
  background-size: 550px;
  background-image: url("https://i.ibb.co/0tB9X7D/Screenshot-2024-02-28-10-25-24-AM.png");
  z-index: -1;
}

body {
  overflow-x: hidden;
}
#main {
  z-index: 2;
  transform: rotate(0deg);
}
#mainHeader {
  font-family: Titan One;
  font-size: 60px;
  color: white;
  font-weight: 400;
  text-align: center;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.4);
}

/*Popular Leaderboards Section*/

#statsBoards {
  background-color: #40115f;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border-radius: 10px;
  z-index: 3;
  display: flex;
  justify-content: center;
}

/*Yellow and Orange Bubbles*/

.YO_Container {
  background-color: #ef7426;
  border-radius: 7px;
  box-sizing: border-box;
  position: absolute;
  margin-top: -30px;
  box-shadow: 0 4px rgba(0, 0, 0, 0.2), inset 0 -4px rgba(0, 0, 0, 0.2);
  z-index: 4;
}

.YO_Text {
  background: linear-gradient(#fcd843, #fcd843 50%, #feb31a 50.01%, #feb31a);
  font-family: Titan One;
  padding: 0 15px;
  border-radius: 5px;
  color: white;
  align-items: center;
  font-size: 26px;
  text-shadow: -1px -1px 0 #646464, 1px -1px 0 #646464, -1px 1px 0 #646464,
    2px 2px 0 #646464;
  text-align: center;
  box-sizing: border-box;
  border-style: solid;
  border-width: 5px;
  border-color: #ef7426;
}

/*Stat Boxes*/
.statsBox {
  background-color: #9a49aa;
  border-radius: 7px;
  width: 200px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 5px 5px 11px;
  margin: 5px;
  box-shadow: inset 0 -6px rgba(0, 0, 0, 0.2);
}

.statTitle {
  font-family: Titan One;
  color: white;
  font-size: 20px;
}

.statImg {
  width: 75;
  top: 65%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}
/*Info Section*/
#info {
  float: left;
  background-color: #40115f;
  width: 30%;
  border-radius: 10px;
  z-index: 3;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.RYO_Container {
  background-color: #ef7426;
  border-radius: 7px;
  box-sizing: border-box;
  position: absolute;
  margin-top: -30px;
  box-shadow: 0 4px rgba(0, 0, 0, 0.2), inset 0 -4px rgba(0, 0, 0, 0.2);
  z-index: 4;
}

.RYO_Text {
  background: linear-gradient(#fcd843, #fcd843 50%, #feb31a 50.01%, #feb31a);
  font-family: Titan One;
  padding: 0 15px;
  border-radius: 5px;
  color: white;
  align-items: center;
  font-size: 26px;
  text-shadow: -1px -1px 0 #646464, 1px -1px 0 #646464, -1px 1px 0 #646464,
    2px 2px 0 #646464;
  text-align: center;
  box-sizing: border-box;
  border-style: solid;
  border-width: 5px;
  border-color: #ef7426;
}
/*Submission*/
#submission {
  background-color: #40115f;
  float: right;
  border-radius: 10px;
  z-index: 3;
  width: 35%;
  text-align: center;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.SYO_Container {
  background-color: #ef7426;
  border-radius: 7px;
  box-sizing: border-box;
  position: absolute;
  margin-top: -30px;
  box-shadow: 0 4px rgba(0, 0, 0, 0.2), inset 0 -4px rgba(0, 0, 0, 0.2);
  z-index: 4;
}

.SYO_Text {
  background: linear-gradient(#fcd843, #fcd843 50%, #feb31a 50.01%, #feb31a);
  font-family: Titan One;
  padding: 0 15px;
  border-radius: 5px;
  color: white;
  align-items: center;
  font-size: 26px;
  text-shadow: -1px -1px 0 #646464, 1px -1px 0 #646464, -1px 1px 0 #646464,
    2px 2px 0 #646464;
  text-align: center;
  box-sizing: border-box;
  border-style: solid;
  border-width: 5px;
  border-color: #ef7426;
}
