#bgC {
  position: absolute;
  width: 200%;
  height: 200%;
  background-size: 550px;
  background-position: -100px -100px;
  z-index: -1; 
  background-image: url("https://i.ibb.co/0tB9X7D/Screenshot-2024-02-28-10-25-24-AM.png");
  opacity: 0.9;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}
#main {
  z-index: 2;
  transform: rotate(0deg);
}
#mainHeader {
  font-family: Titan One;
  font-size: 60px;
  color: white;
  font-weight: 400;
  text-align: center;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.4);
}

/*Popular Leaderboards Section*/

#statsBoards {
  background-color: #40115f;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border-radius: 10px;
  z-index: 3;
  display: flex;
  justify-content: center;
}

/*Info Section*/
#info {
  float: left;
  background-color: #40115f;
  width: 30%;
  border-radius: 10px;
  z-index: 3;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}


/*Submission*/
#submission {
  background-color: #40115f;
  float: right;
  border-radius: 10px;
  z-index: 3;
  width: 35%;
  text-align: center;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

