/*Navagation Bar*/
#navBar {
  margin-top: -2px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-color: transparent;
  position: fixed;
  z-index: 2;
  top: 0;
}

.navLink {
  /*Position*/
  margin-right: 12px;
  padding-top: 8px;
  padding-bottom: 5px;
  /*Looks*/
  background-color: #4a363a;
  font-size: 30px;
  color: #f8d474;
  border: 3px solid #988672;
  text-align: center;
  /*Transition*/
  transition-duration: 0.2s;
  cursor: pointer;
  width: 40px;
}
.navLink:hover {
  margin-bottom: -17px;
  padding-top: 14px;
  padding-bottom: 16px;
}

/*Main Section*/

body {
  overflow-x: hidden;
  background: url("https://gooseterv.github.io/pop/images/background-left.png")
      left repeat-y,
    url("https://gooseterv.github.io/pop/images/background-right.png") right
      repeat-y,
    #523b40;
  font-family: Pixellari;
  opacity: 1;
  background-blend-mode: darken;
}
#main {
  z-index: 2;
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 1;
}

#popLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.boxText {
  color: #f8d474;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  margin-bottom: -1px;
  margin-top: 2px;
}
.boxImg {
  width: 45px;
  height: 45px;
  border: 3.5px solid #988672;
  margin-top: 5px;
}
.row {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

/**/
#ingredientList {
  margin: 50px;
  width: 40%;
  height: 30%;
  overflow-y: scroll;
  background-color: #4a363a;
  border: 3.5px solid #988672;
  scrollbar-color: rgba(115,103,86,255);
  scrollbar-width: thick;
}
.ing {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  max-width: 45px;
}

#potionSec {
  width: 100%;
  background-color: #4a363a;
  border: 3.5px solid #988672;
}
#potHolder {
  margin: 60px;
  width: 40%;
  margin-top: 10%;
}

.boxImgPot {
  width: 45px;
  height: 45px;
  border: 3.5px solid #988672;
  margin-top: 5px;
}

.coolBtn {
  font-family: pixellari;
  cursor: pointer;
  background-color: #f8d474;
  padding: 5px, 5px, 5px, 5px;
  font-size: 20px;
  width: 75px;
  height: 35px;
  margin: 10px;
  border-bottom: solid 3px #936d27;
  border-top: solid 3px #f5e4b0;
  color: #895e29;
  border-left: solid 0px;
  border-right: solid 0px;
}
#lineThing {
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#potionBox {
  width: 60px;
  height: 60px;
 
}

@media only screen and (max-width: 877px) {
  #navBar {
    justify-content: center;
  }
}