/*Navagation Bar*/
#navBar {
  margin-top: -2px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-color: transparent;
  position: fixed;
  z-index: 2;
  top: 0;
}

.navLink {
  /*Position*/
  margin-right: 12px;
  padding-top: 8px;
  padding-bottom: 5px;
  /*Looks*/
  background-color: #4a363a;
  font-size: 30px;
  color: #f8d474;
  border: 3px solid #988672;
  text-align: center;
  /*Transition*/
  transition-duration: 0.2s;
  cursor: pointer;
  width: 40px;
}
.navLink:hover {
  margin-bottom: -17px;
  padding-top: 14px;
  padding-bottom: 16px;
}

/*Main Section*/

body {
  overflow-x: hidden;
  background: url("https://gooseterv.github.io/pop/images/background-left.png")
      left repeat-y,
    url("https://gooseterv.github.io/pop/images/background-right.png") right
      repeat-y,
    #523b40;
  font-family: Pixellari;
  opacity: 1;
  background-blend-mode: darken;
}
#main {
  z-index: 2;
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 1;
}

#popLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#popUp {
  /*Position*/
  top: 50%;
  left: 50%;
  position: fixed;
  margin-left: -15%;
  margin-top: -25px;
  /*Looks*/
  background-color: #4a363a;
  border: 3.5px solid #988672;
  visibility: hidden;
  width: 30%;
  z-index: 5;
  cursor: pointer;
  opacity: 1;
}

.row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4a363a;
  border: 3.5px solid #988672;
  width: 30%;
  cursor: pointer;
}
.boxText {
  color: #f8d474;
  font-size: 23px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}
.goldIcon {
  position: relative;
  top: 5px;
  width: 25px;
  height: 25px;
}
.boxImg {
  width: 50px;
  height: 50px;
  border: 3.5px solid #988672;
  margin: 5px;
}

#ingredientList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ingredient {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.ingredient p {
  font-size: 16px;
}

@media only screen and (max-width: 1000px) {
  .boxes {
    flex-direction: column;
    justify-content: center;
  }
  #popUp {
    width: 40%;
    margin-left: -20%;
  }
}

@media only screen and (max-width: 877px) {
  #navBar {
    justify-content: center;
  }
  #popLogo {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .row {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
  }
  .boxes {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 70%;
  }
  #popUp {
    width: 80%;
    margin-left: -40%;
    margin-top: -125px;
  }
}

@media only screen and (max-width: 357px) {
  .boxes {
    flex-direction: column;
    justify-content: center;
  }
}